
ul.items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  li.item {
    width: 240px;
    padding: 4px;
  }
  
  
  button {
    width: 70px;
    float: right;
    /* background-color: rgb(209, 209, 209);
    border: 1px solid rgb(160, 128, 128); */
  }
  
  /* button:hover {
    background-color: rgb(138, 205, 226);
  } */
  
  #quant {
    width: 40px;
  }
  
  .glyphicon-refresh {
    cursor: pointer;
    font-size: 16px;
  }
  

  .cart-bar {
    background-color: rgb(160, 190, 167);
    height: 50px;
    padding: 12px;
    text-align: right;
  }
  
  .cart-bar span {
    font-size: 18px;
    float: left;
  }
  
  .cart-bar input {
    width: 120px;
  }
  
  .cart-bar button {
    margin-left: 5px;
    height: 26px;
    padding: 2px;
  }

  i {
    font-size: 24px;
    position: relative;
  }

  i span {
    
    position: absolute;
    display: inline-block;
    font-size: 15px;
    color: rgb(0, 0, 0);
    width: 16px;
    height: 16px;
    text-align: center;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    left: 8px;
    top: -4px;

  }
  .img {
    height: 100px;
    display: flex;
    align-items: flex-end;
  }